#changeBackgroundBtn{}
#elementToChange {
  width: 200px;
  height: 200px;
  background-color: hotpink;
  background-image: url("icon.png");
}
#box {
  background: lightpink;
  height: 100px;
  width: 100px;
  margin: 6px;
}
